body {
    direction: rtl;
}

.table-block table tr th, .bootstrap-select.btn-group .btn .filter-option {
    direction: rtl;
    text-align: right !important;
}

.block1 ul li a span {
    float: left;
    margin: 4px 10px 0 0;
}

.block1 h2 {
    float: right;
}

.block1 .col-md-9, .block1 ul {
    float: left;
}

.form-search .input-append .btn {
    border-radius: 14px 0 0 14px;
}

.form-search .input-append .search-query {
    border-radius: 0 14px 14px 0;
}

.radiusNone button {
    border-radius: 0 !important;
}

.pull-right {
    float: left !important;
}

/*#mdlPlayVideo .modal-content {
    height: 400px !important;
    padding-right: 15px !important;
    width: 580px !important;
}

#mdlPlayVideo .closeX {
    right: -25px !important;
}*/

#mdlPlayVideo .modal-content {
    height: 418px !important;
    padding-right: 18px !important;
    width: 602px !important;
}


#mdlPlayVideo .closeX {
    right: -25px !important;
}


#language {
    padding: 0 0 0 5%;
}

#management-top ul li {
    padding: 0 5px;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    float: right;
    width: auto;
    direction: rtl;
    display: block;
    text-align: right;
    width: 92%;
}

.modal-body .form-horizontal .control-label {
    float: right;
}

.modal-body .col-sm-7 {
    float: left;
}

.modal-footer {
    text-align: left;
}

.table-block .middle-rightchild span {
    direction: rtl !important;
    float: right;
}

.btn-type1, .bottom-container .pull-right label {
    float: left;
}

.column2 label {
    float: right;
    text-align: left;
    padding: 9px 0 9px 5%;
}

.input-holder {
    float: right;
    padding: 0 0 0 34px;
}

    .input-holder span {
        left: 0;
        border-left: 0;
        border-right: 1px solid #c5c5c5;
        right: auto;
    }

.pull-left {
    float: right !important;
}

#SimultaniousSelect.select-holder {
    float: right;
}

.navigation li.last-child span {
    left: 0 !important;
    right: auto !important;
}

.navigation li.last-child {
    float: left !important;
    text-align: left !important;
}

.navigation li {
    float: right !important;
}

.middle-rightchild {
    padding-right: 50px !important;
    padding-left: 0 !important;
}

.navigation li.first-child {
    text-align: right !important;
}

    .navigation li.first-child span {
        right: 0 !important;
    }

.middle-leftchild {
    padding-left: 70px !important;
    padding-right: 0 !important;
}

.modal-body .col-sm-3 {
    width: 20% !important;
}

.configDataTable .leftField {
    float: right;
    font-weight: bold;
    width: 55%;
}

.configDataTable .rightField {
    float: left;
    width: 40%;
}

.configDataTable tr td:first-child {
    border-left: 1px solid #cdcdcd !important;
    border-right: 0 !important;
}

.labelNoBold label {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.btn-group > .btn:first-child {
    text-align: right;
}

.table-block table tr td, .table-block table tr th {
    border-left: 0 solid #cdcdcd !important;
    border-right: 1px solid #cdcdcd !important;
}

.last span {
    margin-right: 5px;
    float: right !important;
}

.timeInterSpan {
    float: right;
    margin-right: 17px;
}


.connectionErrorDiv {
    padding-right: 180px;
}

.navigation ul.step2 {
    direction: rtl;
    background-image: url(../images/ara-step2.gif);
    background-repeat: no-repeat;
    background-position: right 0;
}

.navigation ul.step3 {
    background-image: url(../images/ara-step3.gif);
    background-repeat: no-repeat;
    background-position: right 0 !important;
}

.navigation ul.step4 {
    background-image: url(../images/ara-step4.gif);
    background-repeat: no-repeat;
    background-position: right 0 !important;
}

.navigation ul.step5 {
    background-image: url(../images/ara-step5.gif);
    background-repeat: no-repeat;
    background-position: right 0 !important;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    float: right;
}

.navbar-header h1 {
    float: right;
    margin: 6px 40px 6px 0;
    padding: 10px 10px 10px 0;
    border-right: 1px solid #5f5f5f;
    border-left: 0;
}

#language {
    padding: 0 50px 0 0;
    float: right;
}

#user-info {
    float: left;
    padding: 7px 0 0 0;
}

#management-top ul li a {
    font-size: 20px;
}

.searchTags li {
    float: right !important;
}

    .searchTags li input {
        margin-left: 5px;
    }

.dropdown-menu.inner.selectpicker {
    overflow: inherit !important;
    direction: rtl;
}

ul.configTabs li {
    float: left;
}

    ul.configTabs li.configTab {
        float: right;
    }

.mdlFooterMessage {
    text-align: left;
    float: right;
}

.block1 ul li {
    float:right;
}
.block1 ul li.last {
    float:left;
    direction:rtl;
}

#divResetPassword .form-group label {
    float: right;
    padding-right:30px;
}
#divResetPassword .form-group div
{
    float: right;
}

#divResetPassword .bottom #btnSubmit {
margin-left: 60px;
}
